@using Cen_ConWEB.BAL.Dtos.Types
@model JobDetailsDto

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ClientName</th>
            <th>Location</th>
            <th>SquareFeet</th>
            <th>Depth</th>
            <th>ConcreteCustomer</th>
            <th>ConcreteSupplier</th>
            <th>PourType</th>
            <th>FinishType</th>
            <th>JobType</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>CrewName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.ClientName</td>
            <td>@Model.Location</td>
            <td>@Model.SquareFeet</td>
            <td>@Model.Depth</td>
            <td>@Model.ConcreteCustomer</td>
            <td>@Model.ConcreteSupplier</td>
            <td>@Model.PourType</td>
            <td>@Model.FinishType</td>
            <td>@Model.JobTypeName</td>
            <td>@Model.Status</td>
            <td>@Model.CreatedAt</td>
            <td>@Model.UpdatedAt</td>
            <td>@Model.CrewName</td>
        </tr>
    </tbody>
</table>
