@using Cen_ConWEB.BAL.Dtos.Types
@model List<JobDetailsDto>

<a href="/Jobs/create-job">Create a job</a>
<a href="/Jobs/get-jobs">Get jobs with Id's</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ClientName</th>
            <th>Location</th>
            <th>SquareFeet</th>
            <th>Depth</th>
            <th>ConcreteCustomer</th>
            <th>ConcreteSupplier</th>
            <th>PourType</th>
            <th>FinishType</th>
            <th>JobType</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Crew</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <a href="/Jobs/get-details/@job.Id" class="page-link">View details of id @job.Id</a>
            <tr>
                <td>@job.Id</td>
                <td>@job.ClientName</td>
                <td>@job.Location</td>
                <td>@job.SquareFeet</td>
                <td>@job.Depth</td>
                <td>@job.ConcreteCustomer</td>
                <td>@job.ConcreteSupplier</td>
                <td>@job.PourType</td>
                <td>@job.FinishType</td>
                <td>@job.JobTypeName</td>
                <td>@job.Status</td>
                <td>@job.CreatedAt</td>
                <td>@job.UpdatedAt</td>
                <td>@job.CrewName</td>
            </tr>
        }
    </tbody>
</table>
